##############
### CONFIG ###
##############
/.config/*
!/.config/btop
!/.config/dunst
!/.config/gsimplecal
!/.config/gtk-2.0
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/htop
!/.config/hypr
!/.config/kitty
!/.config/rofi
!/.config/swayimg
!/.config/waybar

# qutebrowser
!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/greasemonkey
!/.config/qutebrowser/userscripts
!/.config/qutebrowser/config.py
!/.config/qutebrowser/keys.py

# Hyprland
/.config/hypr/modules/env.conf
/.config/hypr/modules/monitors.conf
/.config/hypr/modules/devices.conf

!/.config/systemd
/.config/systemd/*/*
!/.config/systemd/user/hyprland.target

###########
### BIN ###
###########
/.bin/*
!/.bin/bd
!/.bin/blur
!/.bin/cecho
!/.bin/hide-desktop-entry
!/.bin/mem-hogs
!/.bin/rofi-pinentry
!/.bin/s
!/.bin/svc
!/.bin/tb
!/.bin/to-pdf
!/.bin/transfer
!/.bin/unix-art
!/.bin/untilfail
