* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: '0xProto Nerd Font Propo';
    font-size: 12px;
}

window#waybar {
    background-color: rgba(32, 32, 32, 1.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .3s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button.active {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ff0000;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-vpn,
#custom-wayprsunset-temp,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad
{
    padding: 0 8px;
}

#custom-spotify-prev {
    padding-left: 0px;
    color: #ffffff;
}

#custom-spotify-next {
    padding-right: 8px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 16px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.good:not(.charging) {
    background-color: #ffb266;
    color: #000000;
}

#battery.warning:not(.charging) {
    background-color: #ff3c3c;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #ffffff;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #8fce00;
    color: #000000;
}

#custom-wayprsunset-temp {
    color: #000000;
    background-color: #ffaf23;
}

#custom-vpn {
    background-color: #2c2c2c;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.vol.muted {
    background-color: #ff1030;
    color: #2a5c45;
}
#pulseaudio.mic.source-muted {
    background-color: #ff1030;
    color: #2a5c45;
}

#temperature {
    background-color: #f0932b;
    color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0;
    padding: 0;
    padding-right: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #00b093;
    color: #ffffff;
    padding: 0 5px;
    margin: 0;
    min-width: 34px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
