* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: '0xProto Nerd Font Propo';
    font-size: 12px;
}

window#waybar {
    background-color: rgba(32, 32, 32, 1.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .3s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button.active {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ff0000;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-vpn,
#custom-wayprsunset-temp,
#network,
#custom-pacman,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#custom-cod-status
{
    padding: 0 8px;
}

#custom-spotify-prev {
    padding-left: 0px;
    color: #ffffff;
}

#custom-spotify-next {
    padding-right: 8px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    font-size: 16px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.good:not(.charging) {
    background-color: #ffb266;
    color: #000000;
}

#battery.warning:not(.charging) {
    background-color: #ff3c3c;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #8fce00;
    color: #000000;
}

#custom-wayprsunset-temp {
    color: #000000;
    background-color: #ffaf23;
}

#custom-vpn {
    background-color: #2c2c2c;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-pacman {
	background-color: #252525;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.vol.muted {
    background-color: #ff1030;
    color: #2a5c45;
}
#pulseaudio.mic.source-muted {
    background-color: #ff1030;
    color: #2a5c45;
}

#temperature {
    background-color: #f0932b;
    color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
    margin: 0;
    padding: 0;
    padding-right: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #00b093;
    color: #000000;
    padding: 0 5px;
    margin: 0;
    min-width: 34px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}


#custom-cod-status {
	background-color: #353535;
}

/* Generated using this bash script:
 * for i in {0..100}; do
 *     echo "#custom-cod-status.c${i} {"
 *     echo -n '    color: '; color-map "#BF6161" "#A3BE8C" "$i" | tr -d '\n'; echo ';'
 *     echo '}'
 * done
 * */
#custom-cod-status.c0 {
    color: #BF6161;
}
#custom-cod-status.c1 {
    color: #BE6161;
}
#custom-cod-status.c2 {
    color: #BE6361;
}
#custom-cod-status.c3 {
    color: #BE6562;
}
#custom-cod-status.c4 {
    color: #BE6762;
}
#custom-cod-status.c5 {
    color: #BE6963;
}
#custom-cod-status.c6 {
    color: #BE6B63;
}
#custom-cod-status.c7 {
    color: #BE6D64;
}
#custom-cod-status.c8 {
    color: #BE6F64;
}
#custom-cod-status.c9 {
    color: #BE7165;
}
#custom-cod-status.c10 {
    color: #BE7265;
}
#custom-cod-status.c11 {
    color: #BE7466;
}
#custom-cod-status.c12 {
    color: #BE7666;
}
#custom-cod-status.c13 {
    color: #BE7666;
}
#custom-cod-status.c14 {
    color: #BE7867;
}
#custom-cod-status.c15 {
    color: #BE7A67;
}
#custom-cod-status.c16 {
    color: #BE7C68;
}
#custom-cod-status.c17 {
    color: #BE7E68;
}
#custom-cod-status.c18 {
    color: #BE7F69;
}
#custom-cod-status.c19 {
    color: #BE8169;
}
#custom-cod-status.c20 {
    color: #BE836A;
}
#custom-cod-status.c21 {
    color: #BE856A;
}
#custom-cod-status.c22 {
    color: #BE866A;
}
#custom-cod-status.c23 {
    color: #BE886B;
}
#custom-cod-status.c24 {
    color: #BE8A6B;
}
#custom-cod-status.c25 {
    color: #BE8B6C;
}
#custom-cod-status.c26 {
    color: #BE8B6C;
}
#custom-cod-status.c27 {
    color: #BE8D6D;
}
#custom-cod-status.c28 {
    color: #BE8F6D;
}
#custom-cod-status.c29 {
    color: #BE906E;
}
#custom-cod-status.c30 {
    color: #BE926E;
}
#custom-cod-status.c31 {
    color: #BE936E;
}
#custom-cod-status.c32 {
    color: #BE956F;
}
#custom-cod-status.c33 {
    color: #BD966F;
}
#custom-cod-status.c34 {
    color: #BD9870;
}
#custom-cod-status.c35 {
    color: #BD9970;
}
#custom-cod-status.c36 {
    color: #BD9B71;
}
#custom-cod-status.c37 {
    color: #BD9C71;
}
#custom-cod-status.c38 {
    color: #BD9D72;
}
#custom-cod-status.c39 {
    color: #BD9E72;
}
#custom-cod-status.c40 {
    color: #BD9F72;
}
#custom-cod-status.c41 {
    color: #BDA173;
}
#custom-cod-status.c42 {
    color: #BDA273;
}
#custom-cod-status.c43 {
    color: #BDA474;
}
#custom-cod-status.c44 {
    color: #BDA574;
}
#custom-cod-status.c45 {
    color: #BDA675;
}
#custom-cod-status.c46 {
    color: #BDA875;
}
#custom-cod-status.c47 {
    color: #BDA975;
}
#custom-cod-status.c48 {
    color: #BDAA76;
}
#custom-cod-status.c49 {
    color: #BDAC76;
}
#custom-cod-status.c50 {
    color: #BDAD77;
}
#custom-cod-status.c51 {
    color: #BDAD77;
}
#custom-cod-status.c52 {
    color: #BDAE78;
}
#custom-cod-status.c53 {
    color: #BDAF78;
}
#custom-cod-status.c54 {
    color: #BDB178;
}
#custom-cod-status.c55 {
    color: #BDB279;
}
#custom-cod-status.c56 {
    color: #BDB379;
}
#custom-cod-status.c57 {
    color: #BDB47A;
}
#custom-cod-status.c58 {
    color: #BDB57A;
}
#custom-cod-status.c59 {
    color: #BDB77B;
}
#custom-cod-status.c60 {
    color: #BDB87B;
}
#custom-cod-status.c61 {
    color: #BDB97B;
}
#custom-cod-status.c62 {
    color: #BDBA7C;
}
#custom-cod-status.c63 {
    color: #BDBA7C;
}
#custom-cod-status.c64 {
    color: #BDBB7D;
}
#custom-cod-status.c65 {
    color: #BDBC7D;
}
#custom-cod-status.c66 {
    color: #BDBD7E;
}
#custom-cod-status.c67 {
    color: #BCBD7E;
}
#custom-cod-status.c68 {
    color: #BBBD7E;
}
#custom-cod-status.c69 {
    color: #BABD7F;
}
#custom-cod-status.c70 {
    color: #B9BD7F;
}
#custom-cod-status.c71 {
    color: #B8BD80;
}
#custom-cod-status.c72 {
    color: #B7BD80;
}
#custom-cod-status.c73 {
    color: #B6BD80;
}
#custom-cod-status.c74 {
    color: #B5BD81;
}
#custom-cod-status.c75 {
    color: #B4BD81;
}
#custom-cod-status.c76 {
    color: #B4BD82;
}
#custom-cod-status.c77 {
    color: #B3BD82;
}
#custom-cod-status.c78 {
    color: #B2BD83;
}
#custom-cod-status.c79 {
    color: #B2BD83;
}
#custom-cod-status.c80 {
    color: #B1BD83;
}
#custom-cod-status.c81 {
    color: #B0BD84;
}
#custom-cod-status.c82 {
    color: #AFBD84;
}
#custom-cod-status.c83 {
    color: #AEBD85;
}
#custom-cod-status.c84 {
    color: #ADBD85;
}
#custom-cod-status.c85 {
    color: #ADBD85;
}
#custom-cod-status.c86 {
    color: #ACBD86;
}
#custom-cod-status.c87 {
    color: #ABBD86;
}
#custom-cod-status.c88 {
    color: #ABBD87;
}
#custom-cod-status.c89 {
    color: #AABD87;
}
#custom-cod-status.c90 {
    color: #AABD87;
}
#custom-cod-status.c91 {
    color: #A9BD88;
}
#custom-cod-status.c92 {
    color: #A8BD88;
}
#custom-cod-status.c93 {
    color: #A7BD89;
}
#custom-cod-status.c94 {
    color: #A7BD89;
}
#custom-cod-status.c95 {
    color: #A6BD89;
}
#custom-cod-status.c96 {
    color: #A5BD8A;
}
#custom-cod-status.c97 {
    color: #A5BD8A;
}
#custom-cod-status.c98 {
    color: #A4BD8B;
}
#custom-cod-status.c99 {
    color: #A3BD8B;
}
#custom-cod-status.c100 {
    color: #A3BE8C;
}
