configuration {
    show-icons:      true;
}

@theme "themes/spotlight-dark.rasi"

entry {
    placeholder:        "Password";
    placeholder-color:  @fg3;
}

inputbar {
    children:   [ prompt, entry ];
}
